################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/SuZhouSubway.Model/obj
/SuZhouSubway.Model/bin
/SuZhouSubway.Web/obj
/SuZhouSubway.Web/bin
/.vs
/publish