/*底部背景色*/
footer { background-color: #f7f7f7; }

/*头部背景色*/

header { background-color: #f8f9fa; }

/*a标签去除默认样式*/

a {
    text-decoration: none;
    color: #333;
}



/* playfair-display-700 */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    src: url('//lib.baomitu.com/fonts/playfair-display/playfair-display-700.eot'); /* IE9 Compat Modes */
    src: local('Playfair Display'), local('PlayfairDisplay-Normal'), url('//lib.baomitu.com/fonts/playfair-display/playfair-display-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//lib.baomitu.com/fonts/playfair-display/playfair-display-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('//lib.baomitu.com/fonts/playfair-display/playfair-display-700.woff') format('woff'), /* Modern Browsers */
    url('//lib.baomitu.com/fonts/playfair-display/playfair-display-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('//lib.baomitu.com/fonts/playfair-display/playfair-display-700.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}

/* playfair-display-900 */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    src: url('//lib.baomitu.com/fonts/playfair-display/playfair-display-900.eot'); /* IE9 Compat Modes */
    src: local('Playfair Display'), local('PlayfairDisplay-Normal'), url('//lib.baomitu.com/fonts/playfair-display/playfair-display-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//lib.baomitu.com/fonts/playfair-display/playfair-display-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('//lib.baomitu.com/fonts/playfair-display/playfair-display-900.woff') format('woff'), /* Modern Browsers */
    url('//lib.baomitu.com/fonts/playfair-display/playfair-display-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('//lib.baomitu.com/fonts/playfair-display/playfair-display-900.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}
  