@model SuZhouSubway.Model.Detail

@{
    Layout = "_FrontPageLayout";
}

<div class="container-fluid">
    <h3 class="text-center m-4">@Model.Title</h3>
    <div class="container">@Html.Raw(Model.Contents)</div>
</div>