@model List<SuZhouSubway.Model.Category>

@{
    Layout = "_FrontPageLayout";
}


<div >
    @foreach (var data in Model)
    {
        <a class="p-2" asp-action="DetailList" asp-route-id="@data.Id">
            <h3 class="pb-3 mb-4 text-center border-bottom">@data.Name</h3>
        </a>
    }
</div>